.PrimaryDisplay h3 {
  text-align: center;
  margin-top: 8px;
}

.PrimaryDisplay img {
  height: 120%;
  display: block;
  margin: 0 auto;
}

.PrimaryDisplay #weather-description {
  text-align: center;
  text-transform: capitalize;
}

.SecondaryDisplay ul {
  padding-left: 0;
  margin-bottom: 0;
}

.SecondaryDisplay li {
  list-style: none;
  text-align: center;
  font-size: x-large;
  margin: 8px 0;
}
