.PrimaryDisplay button {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  color: #0a58ca;
}

.PrimaryDisplay .temp-scale {
  font-size: medium;
  display: block;
  text-align: right;
  padding-right: 10px;
}

.PrimaryDisplay #current-temp {
  margin-bottom: 0;
}
